.featured_image_container{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.featured_image{
    width: 100%;
    box-shadow: 0 0 10px rgb(113, 113, 113);
    margin:auto;
}

.featured_slider_circles_container{
    margin: 10px;
    display: flex;
    justify-content: center;
    div{
        height: 18px;
        width: 18px;
        background: white;
        margin: 10px 3px;
        border-radius: 20px;
        box-shadow: inset 0px 1px 1px rgba(127, 127, 127, 0.5)
    }
}
#selected_slider{
    background: rgb(78, 78, 78);
}
